@import "tailwindcss";
@import "@heroui/styles"; 



@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
  transition: background 0.3s ease;
}

.dark body {
  background: #0a0a0a;
  color: white;
}